body {
    background-color: #000000;
    color: #000000;
}
.navbar {
    background-color: #343a40;
}
.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.card {
    background-color: #343a40;
    border: 1px solid #495057;
}